<a href="https://colab.research.google.com/github/Bhagath2005/B26_PFDS_1807/blob/main/1807_PfD_29_8_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#Creating a series from a list
data=[10,20,30,40,50]
series=pd.Series(data)

print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#Series with Custom index
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data,index_labels)

print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
#Creating a DataFrame from a dictionary
data = {
    'Name':['Alice','Bob','Charlie','John'],
    'Age':[20,30,35,40],
    'City':['Hyderabad','Hanamkonda','Delhi','Pune']
}
#Creating a DataFrame
df = pd.DataFrame(data)

print("Pandas DataFrame;")
print(df)

Pandas DataFrame;
      Name  Age        City
0    Alice   20   Hyderabad
1      Bob   30  Hanamkonda
2  Charlie   35       Delhi
3     John   40        Pune

In [7]:
#Access multiple coloumns
print(df['Name'])
#access multiple coloumns
print(df[['Name','City']])
#access rows using index
print(df.iloc[1])#row at index 1
print(df.loc[2])#row at label 2
#Accessing a New cloumn
df['Salary'] = [40000,50000,60000,70000]
print(df)
#Removing a column
df = df.drop('City', axis=1)
print(df)

0      Alice
1        Bob
2    Charlie
3       John
Name: Name, dtype: object
      Name        City
0    Alice   Hyderabad
1      Bob  Hanamkonda
2  Charlie       Delhi
3     John        Pune
Name           Bob
Age             30
City    Hanamkonda
Name: 1, dtype: object
Name    Charlie
Age          35
City      Delhi
Name: 2, dtype: object
      Name  Age        City  Salary
0    Alice   20   Hyderabad   40000
1      Bob   30  Hanamkonda   50000
2  Charlie   35       Delhi   60000
3     John   40        Pune   70000
      Name  Age  Salary
0    Alice   20   40000
1      Bob   30   50000
2  Charlie   35   60000
3     John   40   70000

In [9]:
from collections.abc import AsyncGenerator
#(d)Filtering data
#Select rows where Age > 30
print(df[df['Age']>30])

#(e)Basic Statistics
print(df['Age'].mean())  #Average age
print(df['Age'].max())   #Maximum age
print(df['Age'].min())   #Minimum age

      Name  Age  Salary
2  Charlie   35   60000
3     John   40   70000
31.25
40
20

In [12]:
import pandas as pd

# Create a DataFrame with student details
student_data = {
    'Student_ID': [101, 102, 103, 104],
    'Name': ['Ravi', 'Sita', 'Ram', 'Sneha'],
    'Marks': [85, 95, 76, 98],
    'Department': ['ECE', 'CSE', 'MECH', 'CSE']
}

df = pd.DataFrame(student_data)

# Display full DataFrame
print("Student Data:")
print(df)

Student Data:
   Student_ID   Name  Marks Department
0         101   Ravi     85        ECE
1         102   Sita     95        CSE
2         103    Ram     76       MECH
3         104  Sneha     98        CSE